.article-item {
  display: flex;
  align-items: start;
  margin-bottom: 20px;
}

.article-thumbnail {
  width: 80px;
  height: 80px;
  margin-right: 15px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.article-info {
  display: flex;
  align-items: center;
}

.article-title {
  margin: 0;
  margin-right: 10px;
}

.article-date {
  margin: 0;
  font-size: 0.8em;
  color: #777;
}
